:root {
    --primary: #2DB742;
    --secondary: #FFFFFF;
    --tertiary: #ececec;
}

html {
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

body {
    height: 100vh;
}

.whatsapp-contact {
    background-color: var(--secondary);
    max-width: 380px;
    min-width: 310px;
    padding: 0 1rem;
    position: fixed;
    right: 1.5rem;
    bottom: 1.5rem;
    /* height: 80px; */
    border: 2px solid var(--primary);
    background: var(--secondary);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

.whatsapp-contact.expanded {
    background: -webkit-linear-gradient(to bottom, var(--primary), var(--primary) 88px, var(--secondary) 88px);
    background: -moz-linear-gradient(to bottom, var(--primary), var(--primary) 88px, var(--secondary) 88px);
    background: linear-gradient(to bottom, var(--primary), var(--primary) 88px, var(--secondary) 88px);
}

.whatsapp-contact.collapsed {
    background: var(--secondary);
}

.whatsapp-contact .whatsapp-icon {
    flex: 1 1 20%;
}

.whatsapp-contact .message {
    flex: 1 0 80%;
    cursor: pointer;
}

.whatsapp-icon img {
    height: 70px;
    margin-top: 5px;
    margin-left: -10px;
}

.whatsapp-icon.expanded {
    cursor: pointer;
}

.whatsapp-contact .contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 0.2rem;
}

.whatsapp-contact p {
    margin: 2px 0 5px 0;
    text-align: center;
}

.contact .contact-title {
    font-weight: 600;
    font-size: 1.2rem;
    padding-top: 0.5rem;
}

.contact .contact-subtitle {
    line-height: 1.5rem;
}

.contact .message-expanded p {
    color: var(--secondary);
}

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.3rem 0;
}

.contact-container .contact-button {
    border-left: 5px solid var(--primary);
    padding: 0.5rem 1.5rem;
    background-color: var(--tertiary);
    font-weight: 600;
    text-decoration: none;
    color: #000000;
    align-items: center;
    margin: 0.5rem 1.5rem;
}

.contact-button.active {
    display: flex;
    flex-wrap: wrap;
}

.contact-container .contact-button img {
    height: 30px;
    margin-right: 0.6rem;
}

.contact-container .timetable-title {
    font-weight: 600;
    margin: 0.8rem 0;
}

.contact-container .timetable {
    line-height: 1.3rem;
}


.active {
    display: block;
    opacity: 1;
    animation: fade-in 0.7s;
}

.inactive {
    display: none;
    opacity: 0;
    animation: fade-out 0.7s;
}

@keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
@keyframes fade-out {
from {
    opacity: 1;
}
to {
    opacity: 0;
}
}
